* {
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 100%
}

body {
    
    background-image: linear-gradient(135deg, rgba(159, 159, 159, 0.46) 0%, rgba(159, 159, 159, 0.46) 14.286%, rgba(165, 165, 165, 0.46) 14.286%, rgba(165, 165, 165, 0.46) 28.572%, rgba(171, 171, 171, 0.46) 28.572%, rgba(171, 171, 171, 0.46) 42.858%, rgba(178, 178, 178, 0.46) 42.858%, rgba(178, 178, 178, 0.46) 57.144%, rgba(184, 184, 184, 0.46) 57.144%, rgba(184, 184, 184, 0.46) 71.43%, rgba(190, 190, 190, 0.46) 71.43%, rgba(190, 190, 190, 0.46) 85.716%, rgba(196, 196, 196, 0.46) 85.716%, rgba(196, 196, 196, 0.46) 100.002%), linear-gradient(45deg, rgb(252, 252, 252) 0%, rgb(252, 252, 252) 14.286%, rgb(246, 246, 246) 14.286%, rgb(246, 246, 246) 28.572%, rgb(241, 241, 241) 28.572%, rgb(241, 241, 241) 42.858%, rgb(235, 235, 235) 42.858%, rgb(235, 235, 235) 57.144%, rgb(229, 229, 229) 57.144%, rgb(229, 229, 229) 71.43%, rgb(224, 224, 224) 71.43%, rgb(224, 224, 224) 85.716%, rgb(218, 218, 218) 85.716%, rgb(218, 218, 218) 100.002%);
}

.navbar {

    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.logo img {

    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    background-size: cover;
    background-position: center;

}

.logo {
    display: flex;
}

.nav-intro {
    font-size: 12px;
    margin: auto;
    margin-left: 12px;
    color: #0f1e6a;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
   
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #5c48ee;
    text-decoration: none;
}



.container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__container h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.5rem;
    color: #0f1e6a;
    margin-bottom: 1rem;
}

.heading__1 {
    font-weight: 700;
}

.heading__2 {
    font-weight: 700;
    color: #5c48ee;
}

.content__container h4 {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 2rem;
    text-align:justify;
    text-transform: capitalize;
}

.image__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-content: center;
}

.image__container img {
    width: 100%;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
}

.image__container img:nth-child(1) {
    transform: translateY(70px);
}

.image__container img:nth-child(2) {
    transform: translateY(-70px);
}

.about {
    text-align: center;
    padding: 50px 0;
}


.about-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}


.about-content {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 16px;
    color: #666;
    margin-left: 216px;
    margin-right: 216px;
    text-transform: capitalize;
}

.course-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
   
    text-align: center;
    padding: 20px 0;
}


.courses-section {
   
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;

}


.course-card {
    height: 370px;
    width: 650px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1s;
    overflow: hidden;
}
.course-card img{
    width: 100%;
    height: 200px;
}

.course-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    padding-top: 15px;
    
}


.course-description {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    
    margin-bottom: 15px;
    text-align: justify;
    text-transform: capitalize;
}


.course-price {
    font-size: 18px;
    font-weight: bold;
    color: rgb(131, 197, 131);
}



.container{
    display: flex;
}



footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    /* background-color: #2d2a30; */
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
    
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #333;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}




/* Footer links */

.footer-distributed .footer-links {
    color: #333;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #333;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #333;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
   padding-left: 40px;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #5c48ee;
}

.footer-links a:hover {
    color: #5c48ee;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       